.tiles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border: 2px solid rgb(75,85,99,0.5);
    border-radius: 5px;
    padding: 1.25rem;
    margin-top: 5vh;
    margin-bottom: 2vh;
    cursor: pointer;
}

.tiles-footer{
    font-size: larger;
    display: flex;
    align-items: center;
    gap: 1vh;
}

.tiles-row{
    display: flex;
    align-items: center;
    gap: 3vh;
}